
body {
	background-color: #00c5cd;
}

.center-form {
	width: 315px;
	height: 400px;
	margin: 10% auto;
}

.single-menu-text {
	color: #ffde00;
	margin-left: 65px;
	margin-bottom: 40px;
}

.title-text {
	color:	#53616c;
	position: relative;
	left: 95px;
}

input[type=text] {
	background-color: #b2eee6;
	border-style: inset;
}

input[type=submit] {
	color: white;
	background-color: #53616c;
	position: relative;
	height: 40px;
	width: 150px;
	top: 20px;
	left: 65px;
}

.header {
	text-decoration-color: white;
	background-color: #061751;
	padding: 15px;
	text-align: center;
}

.header-bt {
	text-decoration-color: white;
	background-color: #061751;
	padding: 15px;
	text-align: center;
	margin-top: 20px;
}

.header-text {
	color: #ffde00;
	font-family: times;
}

.table-prop {
	background-color: white;
}