<!-- barra simples para indicar menu de itens -->
<body>
	<div class='header'>
		<h1 class='header-text'>
			<i class='ion-speedometer'></i>
			Menu - Principal
		</h1>
	</div>

	<!-- menu do usuário -->
	<article class="col-md-4 well header-bt">
	    <h3 class="page-header text-center header-text"><i class="ion-android-contact"> Passageiro</i>
	    </h3>
	    <div class="text-center">
	        <a class="btn btn-success" href="#!main_user"><i class="ion-android-user-menu"></i> Gerenciar Passageiros</a>
	    </div>
	    <br/>
	</article>

	<article class="col-md-4 well header-bt">
	    <h3 class="page-header text-center header-text"><i class="ion-android-contact"> Motorista</i>
	    </h3>
	    <div class="text-center">
	        <a class="btn btn-success" href="#!main_driver"><i class="ion-android-user-menu"></i> Gerenciar Motoristas</a>
	    </div>
	    <br/>
	</article>

	<article class="col-md-4 well header-bt">
	    <h3 class="page-header text-center header-text"><i class="ion-android-contact"> Corrida</i>
	    </h3>
	    <div class="text-center">
	        <a class="btn btn-success" href="addUser"><i class="ion-android-user-menu"></i> Gerenciar Corridas</a>
	    </div>
	    <br/>
	</article>
</body>
