
<div class="container">
	<div class="center-form panel">
		<h3 class="text-center"><i class="ion-model-s">CompartilhaRodas</i></h3>
		<div class="panel-body">
			<h4 class="title-text"><i class="ion-log-in"> Log In</i></h4>
			<div ng-controller="LoginCtrl">
				<form ng-submit="logIn()">
					<h5><i class="ion-person"> Usuário</i></h5>
					<input type="text" ng-model="emailInput"> 
					<h5><i class="ion-key"> Senha</i></h5>
					<input type="text" ng-model="passwordInput">
					<input type="submit" value="Entrar">
				</form>
				
			</div>
		</div>
	</div>
</div>
